<?xml version="1.0" encoding="utf-8" ?>
<project name="BuildSettings">
	<!-- PROJECT VARIABLES -->
	<property name="project.name" value="__SOLUTION_NAME_WITHOUT_SLN_EXTENSION__" overwrite="false" />
	<property name="path_to_solution" value="." overwrite="false" />
	<property name="repository.path" value="http://srvutilscm/svn/FHLBank-__REPOSITORY_HERE__" overwrite="false" />
	<property name="company.name" value="Federal Home Loan Bank of Topeka" overwrite="false" />
	<property name="dirs.db.project" value="db" overwrite="false" />
	<property name="dirs.report.project" value="reports" overwrite="false" />
	<property name="dirs.documentation" value="docs" overwrite="false" />
  	<property name="app.drop.folder" value="app" overwrite="false" />

	<!-- FRAMEWORKS -->
	<!-- microsoft.framework: net-1.1,net-2.0,net-3.5  -->
	<property name="microsoft.framework" value="net-3.5" overwrite="false" />
	<!-- microsoft.framework: net-1.1,net-2.0,net-3.5  -->
	<!-- language.short: vb,cs -->
	<property name="language.short" value="vb" overwrite="false" />
	<!-- test.framework: mbunit, nunit -->
	<property name="test.framework" value="mbunit" overwrite="false" />
	<!-- source_control_type: svn, vss, tfs, vault, git -->
	<property name="source_control_type" value="svn" overwrite="false" />

	<!-- ASSEMBLY VARIABLES -->
	<property name="version.major" value="1" overwrite="false" />
	<property name="version.minor" value="0" overwrite="false" />
	<!-- partially trusted callers doesn't set correctly with assembly generator - Leave false for now-->
	<property name="allow.partially_trusted_callers" value="false" overwrite="false" />

	<!-- EXTERNAL TOOLS -->
	<!-- To not use the tool, change to a location that doesn't exist -->
	<property name="app.ncover" value="..\..\ThirdParty\NCover\NCover.Console.exe" overwrite="false" />
	<property name="app.ncover_explorer" value="..\..\ThirdParty\NCover\NCoverExplorer.Console.exe" overwrite="false" />
	<property name="app.ncover.tester" value="..\..\ThirdParty\MbUnit\MbUnit.Cons.exe" overwrite="false" />
	<!--<property name="app.ncover.tester" value="..\..\ThirdParty\NUnit\nunit-console.exe" overwrite="false" />-->
  	<property name="app.ndepend" value="C:\Program Files\NDepend\NDepend.Console.exe" overwrite="false" />
</project>